.place__title {
  font-size: 72px;
  font-weight: 900;
  line-height: 106%;
  max-width: 460px;
  margin: 0;
  align-self: end;
}

@media screen and (max-width: 1053px) {
  .place__title {
    max-width: 440px;
  }
}

@media screen and (max-width: 880px) {
  .place__title {
    max-width: 390px;
    font-size: 52px;
  }
}

@media screen and (max-width: 820px) {
  .place__title {
    max-width: 320px;
    font-size: 42px;
    line-height: 110%;
  }
}

@media screen and (max-width: 568px) {
  .place__title {
    max-width: 288px;
    font-size: 32px;
    line-height: 109%;
    margin: 0 16px 0;
  }
}

