.content__places {
  margin: 0 148px 0;
}

@media screen and (max-width: 1230px) {
.content__places {
  margin: 0 120px 0;
  }
}

@media screen and (max-width: 1173px) {
  .content__places {
    margin: 0 100px 0;
  }
}

@media screen and (max-width: 1133px) {
  .content__places {
    margin: 0 80px 0;
  }
}

@media screen and (max-width: 1093px) {
  .content__places {
    margin: 0 60px 0;
  }
}

@media screen and (max-width: 1053px) {
  .content__places {
    margin: 0 48px 0;
  }
}

@media screen and (max-width: 930px) {
  .content__places {
    margin: 0 24px 0;
  }
}

@media screen and (max-width: 568px) {
  .content__places {
    margin: 0;
  }
}



