.content__photo-grid {
  margin: 0 48px 0;
}

@media screen and (max-width: 990px) {
  .content__photo-grid {
    margin: 0 24px 0;
  }
}

@media screen and (max-width: 400px) {
  .content__photo-grid {
    margin: 0 16px 0;
  }
}