.content__intro {
  box-sizing: border-box;
   margin: 0 34.53125% 0 11.5625%;
}

@media screen and (max-width: 1140px) {
  .content__intro {
    margin: 0 25.0877% 0 8%;
  }
}

@media screen and (max-width: 1024px) {
  .content__intro {
    margin: 0 25.0877% 0 4.8%;
  }
}

@media screen and (max-width: 990px) {
  .content__intro {
    margin: 0 25.0877% 0 10%;
  }
}

@media screen and (max-width: 930px) {
  .content__intro {
    margin: 0 25.0877% 0 8%;
  }
}

@media screen and (max-width: 900px) {
  .content__intro {
    margin: 0 25.0877% 0 5%;
  }
}

@media screen and (max-width: 840px) {
  .content__intro {
    margin: 0 24px 0 24px;
  }
}

@media screen and (max-width: 568px) {
  .content__intro {
    margin: 0;
  }
}

